vite.config.*.timestamp*
node_modules
.nx/
dist
build
out
logs
**/coverage
**/.DS_Store

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
*.tfplan